.detailPageWrapper h1{
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin: 2px;
    padding: 15px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 89%;
}
.detailPageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.detailPageWrapper img{
    width: 177px;
}
.detailPageWrapper .height, .weight{
    font-size: 2rem;
    font-weight: 600;
}
.pokemonName ,  .pokemonTitle{
    font-size: 2rem;
    letter-spacing: 0px;
    text-indent: 70px;
}
.pokemonTitle span{
    letter-spacing: 4px;
}
.typeCont{
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    font-weight: 600;
}
.typeCont div{
    display: flex;
    padding: 16px;
    background-color: ghostwhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.morePokemons{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detailPokemons{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.loaderDetail{
    position: relative;
    margin-bottom: 2rem;
}
.morePokemon{
    color: #36caf4f0;
    font-family: ui-rounded;
    font-weight: 600;
    letter-spacing: 1px;
}
.bottom-loader{
    position: relative;
    top: 7rem;
    display: flex;
    flex-direction: column;
}
.loaderPara{
    margin-left: 4rem;
}
@media only screen and (max-width: 600px) {
 
    .detailPageWrapper img {
        margin-top: 0rem;
    }
    .morePokemon{
        font-size: 1.5rem;
    }
    .pokemonTitle{
        font-size: 1.8rem;
        text-indent: 20px;
        font-weight: 500;
    }
    .pokemonName{
        font-size: 1.5rem;
        text-indent: 88px;
    } 
  }